body {
    font-family: Arial;
    background: #f5f7fb;
}

.container {
    width: 60%;
    margin: auto;
    margin-top: 20px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 10px;
}

.navbar {
    background: #1e3a8a;
    color: white;
    padding: 10px;
}

.container .navbar-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btnback {
    text-decoration: none;
    color: white;
    background-color: #007BFF;
    border: 2px solid white;
    padding: 8px 16px;
    border-radius: 4px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.btnback:hover {
    background-color: #0056b3;
    color: #f0f0f0;
    border-color: #f0f0f0;
}